<div class="row">
  <div class="col-xl-8">
    <h2>Resultados da Pesquisa</h2>
    <p>A pesquisa pelo termo <strong>'Texto pesquisado'</strong> retornou os seguintes resultados.</p>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">

    <!-- --------------------------
       Usuários 
    --------------------------- -->
    <div class="m-portlet m-portlet--full-height  m-portlet--rounded">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Usuários
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm"
            role="tablist">
            Pesquisa por usuários com o nome <strong>'Texto Pesquisado'</strong>
          </ul>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="tab-content">
          <div class="tab-pane active" id="m_widget11_tab1_content">

            <div class="m-widget11">
              <div class="table-responsive">

                <table class="table">
                  <thead>
                    <tr>
                      <td class="m-widget11__label">#</td>
                      <td class="m-widget11__app">Nome</td>
                      <td class="m-widget11__price">E-mail</td>
                      <td class="m-widget11__sales">Maestria</td>
                      <td class="m-widget11__change">Partidas</td>
                      <td class="m-widget11__total m--align-right">Aceitação</td>
                      <td class="m-widget11__total m--align-right">Ações</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="avatar-image">
                          <img src="assets/images/default_avatar.png" class="m--img-rounded m--marginless" alt="" />
                        </div>
                      </td>
                      <td>
                        <span class="m-widget11__title">Master Viciado</span>
                        <span class="m-widget11__sub">Última partida jogada a <strong>5 dias atrás.</strong></span>
                      </td>
                      <td>email@compeer.com</td>
                      <td class="m--align-right m--font-success">6,300</td>
                      <td class="m--align-right m--font-brand">150</td>
                      <td class="m--align-right m--font-danger">15,35%</td>
                      <td class="m--align-right">
                        <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                          <i class="la la-plus"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <!--end::Tbody-->
                </table>
                <!--end::Table-->
              </div>
            </div>

            <!--end::Widget 11-->
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------
       Time
    --------------------------- -->
    <div class="m-portlet m-portlet--full-height  m-portlet--rounded">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Times Criados por <strong>'Texto Pesquisado'</strong>
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="tab-content">
          <div class="tab-pane active" id="m_widget11_tab1_content">

            <div class="m-widget11">
              <div class="table-responsive">

                <table class="table">
                  <thead>
                    <tr>
                      <td class="m-widget11__label">#</td>
                      <td class="m-widget11__app">Nome</td>
                      <td class="m-widget11__price">E-mail</td>
                      <td class="m-widget11__sales">Maestria</td>
                      <td class="m-widget11__change">Partidas</td>
                      <td class="m-widget11__total m--align-right">Aceitação</td>
                      <td class="m-widget11__total m--align-right">Ações</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="avatar-image">
                          <img src="assets/images/default_avatar.png" class="m--img-rounded m--marginless" alt="" />
                        </div>
                      </td>
                      <td>
                        <span class="m-widget11__title">Master Viciado</span>
                        <span class="m-widget11__sub">Última partida jogada a <strong>5 dias atrás.</strong></span>
                      </td>
                      <td>email@compeer.com</td>
                      <td class="m--align-right m--font-success">6,300</td>
                      <td class="m--align-right m--font-brand">150</td>
                      <td class="m--align-right m--font-danger">15,35%</td>
                      <td class="m--align-right">
                        <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                          <i class="la la-plus"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <!--end::Tbody-->
                </table>
                <!--end::Table-->
              </div>
            </div>

            <!--end::Widget 11-->
          </div>
        </div>
      </div>
    </div>

    
  </div>
</div>